.page {
  height: calc(100vh - 49px);
  background-color: #000;

  margin: auto;
  padding: 10px 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16%;
}

.head {
  text-align: center;
  margin-top: 20px;
  font-size: 44px;
}

.desc {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
  opacity: 0.9;
}

@media (max-width: 640px) {
  .video {
    width: 100%;
    height: auto;
  }

  .head {
    font-size: 36px;
  }
  .desc {
    font-size: 20px;
  }
}
