.page {
  max-width: 1256px;
  margin: auto;
  padding: 10px 10px 80px 10px;
}

.firstRow {
  display: flex;
  width: 100%;
  height: 480px;
  gap: 10px;
}

.weatherReport {
  width: 854px;
  height: 100%;
  border-radius: 16px;
  padding: 20px;
  background-color: #000;

  border: 1px solid rgba(255, 255, 255, 0.24);
}

.city {
  font-size: 36px;
  font-weight: 600;
}

.region {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.8;
}

.current {
  margin-top: 36px;
  font-size: 18px;
  font-weight: 600;
}

.localTime {
  font-size: 16px;
  margin-top: 6px;
  opacity: 0.9;
}

.weatherContainer {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 26px;
}

.conditionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.degree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.divide {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 24px;
}

.celsius,
.fahrenheit {
  font-size: 64px;
}

.tempUnit {
  display: inline-block;
  vertical-align: middle;
}

.tempUnit {
  font-size: 34px;
  font-weight: 400;
  vertical-align: top;
  margin-top: 10px;
}

.condition {
  font-size: 26px;
  font-weight: 600;
}

.feelsLike {
  display: flex;
}
.feelhead {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
  margin-right: 18px;
}
.feelsTemp {
  font-weight: 20px;
  font-weight: 600;
}
.feelsTempUnit {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
}

.feelDivide {
  border: 0.5px solid #fff;
  opacity: 0.6;
  margin: 0 14px;
}

.lastUpdated {
  margin-top: 40px;
  font-size: 11px;
  opacity: 0.7;

  font-size: 500;
}

/*  */
.secondRow {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  width: 100%;
  height: 160px;
}

.dayNight,
.humidity,
.cloud,
.windSpeed,
.windDir,
.boxVisibility {
  background-color: #000;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.boxText {
  font-size: 18px;
  font-weight: 500;
}

.boxTextFirst {
  font-weight: 400;
  opacity: 0.8;
}

.boxVisibilityText {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*  */

.humidityIcon,
.cloudIcon {
  margin-bottom: 10px;
}

.windTextFirst {
  font-weight: 400;
  opacity: 0.8;
  width: 66px;
  text-align: center;
}

.windSpeedText {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin-top: 10px;
}
.windSpeedUnit {
  font-size: 15px;
}

.windDirText {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.9;
  text-align: center;
}

.dirBoxText {
  font-size: 15px;
  font-weight: 500;
  margin-top: 14px;
}

/*  */
.forecastText {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.forecastDate {
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
}
.thirdRow {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  width: 100%;
  height: 200px;
}

.temperatures,
.windHumidity,
.chancesOff,
.forecastCondition {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

/*  */
.maxTemp,
.minTemp,
.avgTemp {
  margin-top: 14px;
}

.maxTempDivide {
  border: 0.5px solid #fff;
  opacity: 0.6;
  margin: 0 9px;
}

/*  */

.wind,
.visibility,
.avgHumidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

/*  */
.rain,
.snow {
  text-align: center;
  margin-top: 20px;
  line-height: 22px;
}

.forecastBoxText {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.85;
}
.forecastBoxUnit {
  font-size: 17px;
  font-weight: 600;
}

/*  */
.conditionWill {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.85;
}

.conditionText {
  margin-top: 5px;
  font-size: 20px;

  font-weight: 600;
}
